html,
body {
  font-family: "Nunito Sans";
  background-color: #171a1f;
  color: white;
}

hr {
  margin-top: 32px !important;
  padding-bottom: 16px !important;
}

.sbdocs-preview {
  box-shadow: none !important;
  background: #121418 !important;
}
