.dragLayer {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.backgroundLayer {
  position: relative;
  z-index: 0;
  width: fit-content;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.foregroundLayer {
  width: fit-content;
  pointer-events: none;
  position: relative;
  z-index: 2;

  & > * {
    pointer-events: initial;
  }
}
