@layer {
  .scrollContainer {
    --rex-scrollbar-thumb-color: rgba(0, 0, 0, 0.8);
    --rex-scrollbar-offset: 2px;
    --rex-scrollbar-width: 10px;
    --rex-scrollbar-padding: 1px;

    position: relative;
    z-index: 1;
    height: 100%;
    max-height: 100%;

    & .content {
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    & .verticalTrack {
      top: var(--rex-scrollbar-offset);
      bottom: var(--rex-scrollbar-offset);
      right: var(--rex-scrollbar-offset);
      width: calc(var(--rex-scrollbar-width) - calc(var(--rex-scrollbar-padding) * 2));

      & .scrollbarThumb {
        width: calc(var(--rex-scrollbar-width) - calc(var(--rex-scrollbar-padding) * 2));
        height: 50%;
        min-height: 40px;
      }
    }

    & .horizontalTrack {
      left: var(--rex-scrollbar-offset);
      bottom: var(--rex-scrollbar-offset);
      right: var(--rex-scrollbar-offset);
      height: calc(var(--rex-scrollbar-width) - calc(var(--rex-scrollbar-padding) * 2));

      & .scrollbarThumb {
        height: calc(var(--rex-scrollbar-width) - calc(var(--rex-scrollbar-padding) * 2));
        width: 50%;
        min-width: 40px;
      }
    }

    & .horizontalTrack,
    & .verticalTrack {
      position: absolute;
      user-select: none;
      padding: var(--rex-scrollbar-padding);
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition:
        opacity 240ms,
        visibility 240ms;

      & .scrollbarThumb {
        position: absolute;
        pointer-events: all;
        background: var(--rex-scrollbar-thumb-color);
        opacity: 0.5;
        border-radius: 10px;
      }
    }

    &.hasVerticalScroll > .horizontalTrack {
      right: calc(var(--rex-scrollbar-offset) + calc(var(--rex-scrollbar-width) * 1.2));
    }

    &.hasHorizontalScroll > .verticalTrack {
      bottom: calc(var(--rex-scrollbar-offset) + calc(var(--rex-scrollbar-width) * 1.2));
    }

    &.hasVerticalScroll.visible,
    &.hasVerticalScroll:hover {
      padding-right: var(--scroller-horizontal-offset);

      &:not(.trackHidden) > .verticalTrack {
        opacity: 1;
        visibility: visible;
      }
    }

    &.hasHorizontalScroll.visible,
    &.hasHorizontalScroll:hover {
      padding-bottom: var(--scroller-horizontal-offset);

      &:not(.trackHidden) > .horizontalTrack {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
