@layer {
  .scrollContainer {
    position: relative;
    z-index: 1;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;

    & .viewport {
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    & .verticalTrack {
      top: var(--rex-scrollbar-offset, 2px);
      bottom: var(--rex-scrollbar-offset, 2px);
      right: var(--rex-scrollbar-offset, 2px);
      width: calc(var(--rex-scrollbar-width, 10px) - calc(var(--rex-scrollbar-padding, 1px) * 2));

      & .scrollbarThumb {
        width: calc(var(--rex-scrollbar-width, 10px) - calc(var(--rex-scrollbar-padding, 1px) * 2));
        height: 50%;
        min-height: 40px;
      }
    }

    & .horizontalTrack {
      left: var(--rex-scrollbar-offset, 2px);
      bottom: var(--rex-scrollbar-offset, 2px);
      right: var(--rex-scrollbar-offset, 2px);
      height: calc(var(--rex-scrollbar-width, 10px) - calc(var(--rex-scrollbar-padding, 1px) * 2));

      & .scrollbarThumb {
        height: calc(var(--rex-scrollbar-width, 10px) - calc(var(--rex-scrollbar-padding, 1px) * 2));
        width: 50%;
        min-width: 40px;
      }
    }

    & .horizontalTrack,
    & .verticalTrack {
      position: absolute;
      user-select: none;
      padding: var(--rex-scrollbar-padding, 1px);
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      transition:
        opacity 240ms,
        visibility 240ms;

      & .scrollbarThumb {
        position: absolute;
        pointer-events: all;
        background: var(--rex-scrollbar-thumb-color, rgba(0, 0, 0, 0.8));
        opacity: var(--rex-scrollbar-thumb-opacity, 0.5);
        border-radius: 10px;

        &:active {
          background: var(--rex-scrollbar-active-thumb-color, rgba(0, 0, 0, 0.95));
        }
      }
    }

    &.hasVerticalScroll > .horizontalTrack {
      right: calc(var(--rex-scrollbar-offset, 2px) + calc(var(--rex-scrollbar-width, 10px) * 1.2));
    }

    &.hasHorizontalScroll > .verticalTrack {
      bottom: calc(var(--rex-scrollbar-offset, 2px) + calc(var(--rex-scrollbar-width, 10px) * 1.2));
    }

    &.hasVerticalScroll.visible,
    &.hasVerticalScroll:hover {
      &:not(.trackHidden) > .verticalTrack {
        opacity: 1;
        visibility: visible;
      }
    }

    &.hasHorizontalScroll.visible,
    &.hasHorizontalScroll:hover {
      &:not(.trackHidden) > .horizontalTrack {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
