{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react", "prettier"],

  "ignorePatterns": ["**/dist"],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:storybook/recommended"
  ],

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "rules": {
    "prettier/prettier": ["warn"],
    "no-multiple-empty-lines": ["warn", { "max": 2 }],
    "no-console": "warn",
    "no-debugger": "warn",
    "eqeqeq": ["error", "always"],

    "@typescript-eslint/no-unused-vars": "warn",

    // Typescript already checks imports for us
    "import/no-unresolved": "off",
    "import/newline-after-import": ["warn", { "count": 1 }],
    "import/no-default-export": "warn",
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "groups": [["builtin", "external"], ["internal", "parent", "sibling"], "index", "object"],
        "pathGroups": [
          {
            "pattern": "{.,..}/**/*.css",
            "group": "index",
            "position": "after"
          },
          {
            "pattern": "~/**/*",
            "group": "internal",
            "position": "before"
          }
        ]
      }
    ]
  },

  "overrides": [
    {
      "files": ["**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"]
    },
    {
      "files": ["*.stories.tsx"],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["tools/builder/**/*"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
