:root {
  --header-height: 50px;

  /* Scrollbar Customization */
  --rex-scrollbar-thumb-color: var(--mantine-color-dark-3);
  --rex-scrollbar-active-thumb-color: var(--mantine-color-dark-2);
  --rex-scrollbar-thumb-opacity: 1;

  /* Tabs */
  --_tab-border-width: 0 0 1px 0;
}

#root {
  height: 100vh;
}

.mantine-ScrollArea-viewport > div {
  height: 100%;
}

code {
  background-color: var(--mantine-color-dark-8);
  padding: 1px 10px 3px;
  color: var(--mantine-color-blue-2);
  border-radius: 3px;
}
pre code {
  background-color: transparent;
  padding: 0;
  color: inherit;
}
