.row {
  &.selectable {
    cursor: pointer;

    &:hover {
      --rex-table-cell-background-color: var(--rex-table-cell-hover-background-color);
      --rex-table-cell-even-background-color: var(--rex-table-cell-hover-background-color);
      --rex-table-cell-border-color: var(--rex-table-cell-hover-border-color);
    }

    &:active {
      --rex-table-cell-background-color: var(--rex-table-cell-active-background-color);
      --rex-table-cell-even-background-color: var(--rex-table-cell-active-background-color);
      --rex-table-cell-border-color: var(--rex-table-cell-active-border-color);
    }
  }

  &.selected {
    --rex-table-cell-background-color: var(--rex-table-cell-selected-background-color);
    --rex-table-cell-even-background-color: var(--rex-table-cell-selected-even-background-color);
    --rex-table-cell-border-color: var(--rex-table-cell-selected-border-color);

    &:hover {
      --rex-table-cell-background-color: var(--rex-table-cell-selected-hover-background-color);
      --rex-table-cell-even-background-color: var(--rex-table-cell-selected-hover-background-color);
      --rex-table-cell-border-color: var(--rex-table-cell-selected-hover-border-color);
    }

    &:active {
      --rex-table-cell-background-color: var(--rex-table-cell-selected-active-background-color);
      --rex-table-cell-even-background-color: var(--rex-table-cell-selected-active-background-color);
      --rex-table-cell-border-color: var(--rex-table-cell-selected-active-border-color);
    }
  }

  &.striped {
    & .rowCell {
      background-color: var(--rex-table-cell-even-background-color);
    }
  }

  &:last-child {
    & .rowCell {
      border-bottom: 0;
    }
  }
}
