.header {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  height: var(--header-height);
  background-color: var(--mantine-color-dark-7);
  border-bottom: 1px solid var(--mantine-color-dark-5);
}
