.root {
  --rex-scrollbar-thumb-color: rgba(255, 255, 255, 0.8);
  --rex-scrollbar-active-thumb-color: #ffffff;
}

.rootCustomized {
  --rex-scrollbar-width: 12px;
  --rex-scrollbar-thumb-opacity: 1;

  padding: 0 20px 20px 0;
}

.customTrack {
  border-radius: 8px;
  background: lightgoldenrodyellow;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.horizontalThumb {
  background: linear-gradient(90deg, rgba(153, 51, 231, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.verticalThumb {
  background: linear-gradient(180deg, rgba(153, 51, 231, 1) 0%, rgba(252, 70, 107, 1) 100%);
}
