.headerContent {
  --rex-table-header-sort-opacity: 0;

  display: flex;
  align-items: center;
  gap: var(--rex-table-header-gap);

  & .headerLabel {
    flex: 1;
  }

  & .headerSort {
    opacity: 0.5;
    display: inline-flex;
    transition: opacity 240ms;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  & .headerDivider {
    width: 1px;
    height: 12px;
    background: var(--rex-table-border-color);
    opacity: var(--rex-table-header-divider-opacity);
    transition: opacity 240ms;
  }

  &:hover {
    --rex-table-header-sort-opacity: 0.5;
  }
}
